<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="inspire_gripper_ros2_control" params="
        name
        prefix
        use_sim:=true
        use_mock_components:=false
        serial_port:=/dev/ttyUSB0
        baudrate:=115200
        gripper_closed_position:=0.82">

        <ros2_control name="${name}_gripper_hardware" type="system">
            <hardware>
                <!-- 1. Mode Isaac Sim: Using TopicBasedSystem -->
                <xacro:if value="${use_sim}">
                    <plugin>topic_based_ros2_control/TopicBasedSystem</plugin>
                    <param name="joint_commands_topic">/${prefix}gripper_commands</param>
                    <param name="joint_states_topic">/${prefix}gripper_states</param>
                </xacro:if>

                <!-- 2. Mode Mock -->
                <xacro:if value="${use_mock_components and not use_sim}">
                    <plugin>mock_components/GenericSystem</plugin>
                </xacro:if>

                <!-- 3. Mode Real Hardware -->
                <xacro:unless value="${use_sim or use_mock_components}">
                    <plugin>vm_ros2_control/InspireGripperHardwareInterface</plugin>
                    <param name="serial_port">${serial_port}</param>
                    <param name="baudrate">${baudrate}</param>
                </xacro:unless>
            </hardware>

            <!-- Main joint (Joint 1) -->
            <joint name="inspire_gripper_joint1">
                <command_interface name="position" />
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>
            </joint>

            <!-- Mimic Joint-->
            <xacro:if value="${use_sim or use_mock_components}">
                <xacro:macro name="mimic_joint_hw" params="joint_num mult">
                    <joint name="inspire_gripper_joint${joint_num}">
                        <param name="mimic">inspire_gripper_joint1</param>
                        <param name="multiplier">${mult}</param>
                        <command_interface name="position" />
                        <state_interface name="position"/>
                        <state_interface name="velocity"/>
                    </joint>
                </xacro:macro>

                <xacro:mimic_joint_hw joint_num="2" mult="1"/>
                <xacro:mimic_joint_hw joint_num="3" mult="-1"/>
                <xacro:mimic_joint_hw joint_num="4" mult="-1"/>
                <xacro:mimic_joint_hw joint_num="5" mult="1"/>
                <xacro:mimic_joint_hw joint_num="6" mult="1"/>
            </xacro:if>

            <!-- GPIO only valid on real robot -->
            <xacro:unless value="${use_sim or use_mock_components}">
                <gpio name="${prefix}reactivate_gripper">
                    <command_interface name="reactivate_gripper_cmd" />
                    <command_interface name="reactivate_gripper_response" />
                </gpio>
            </xacro:unless>

        </ros2_control>
    </xacro:macro>
</robot>